@use 'abstracts/mixins' as mixins;

// * Simple CSS Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;

  /* Adjust the offset for all anchored sections */
  [id] {
    scroll-margin-top: 9rem; /* adjust to match your navbar height */
  }

  a:focus:not(.screen-reader-shortcut):not(.nav__survey .nav__item) {
    outline: 2px dashed var(--color-purple);
    outline-offset: 1rem;
  }
}

body.no-scroll {
  overflow: hidden;
}
// Selection background color
::selection {
  background-color: var(--color-purple);
  color: var(--color-white);
}
// Screen reader shortcut link
.screen-reader-shortcut {
  position: absolute;
  top: -1000em;

  &:focus {
    position: absolute;
    display: inline-block;
    top: 4rem;
    left: 8vw;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    background-color: var(--color-purple);
    color: var(--color-white);
    outline: 2px dashed var(--color-purple);
    overflow: visible;
    z-index: 10;
    text-decoration: none;

    @include mixins.respond(medium) {
      // left: 50%;
      //transform: translateX(-50%);
      //top: 9rem;
      //z-index: 99999;
    }
  }
}

body {
}
