@use 'base/typography' as typography;
@use 'abstracts/mixins' as mixins;

#front-page,
#single-page,
#search-page {
  display: grid;
  grid-template-columns: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 144rem;
  padding: 2rem 2rem;
  width: 100%;
  gap: 1rem;

  @include mixins.respond(smlmd) {
    grid-template-columns: 4fr 2fr;
    gap: 2.5rem;
  }

  @include mixins.respond(medium) {
    grid-template-columns: 3fr 1fr;
    gap: 5rem;
    padding: 65px 20px;
  }
}

.main-content,
.single-resource,
.search {
  // Take Survey Section
  #take-survey {
    margin-bottom: 3rem;

    @include mixins.respond(smlmd) {
      margin-bottom: 8rem;
    }
  }

  // Resources Section
  #resources {
    margin-bottom: 4rem;

    @include mixins.respond(smallest) {
      margin-bottom: 8rem;
    }
  }
}
