/**
*
* * All variables for project can be found in this file
*
*/

// * --------| Color variables |-------- *
:root {
  --color-purple: #726c9a;
  --color-purple-a: 114, 108, 154;

  --color-orange: #da745d;
  --color-orange-a: 218, 116, 93;

  --color-dark-blue: #04304f;
  --color-dark-blue-a: 4, 48, 79;

  --color-light-blue: #4c9fd6;
  --color-light-blue-a: 25, 161, 219;

  --color-pale-aqua: #cfd8d7;
  --color-pale-aqua-a: 207, 216, 215;

  --color-teal: #3b9795;
  --color-teal-a: 59, 151, 149;

  --color-dark-teal: #407873;

  --color-green: #3c9a98;
  --color-green-a: 60, 154, 152;

  --color-green-alt: #5bc0be;
  --color-green-alt-a: 91, 192, 190;

  --color-grey: #e2e5ea;
  --color-grey-a: 226, 229, 234;

  --color-light-grey: #f0f0f0;

  --color-dark-grey: #565c65;
  --color-dark-grey-a: 86, 92, 101;

  --color-black: #000000;

  --color-white: #ffffff;
  --color-white-a: 255, 255, 255;

  --border-radius: 10rem;
}
