@use 'abstracts/mixins' as mixins;
@use 'abstracts/variables' as variables;
@use 'base/typography' as typography;

//* Overall button styles

// New
.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    overflow: hidden;
    font-family: typography.$font-primary;
    cursor: pointer;
    text-align: center;
    border-radius: 0.3rem;
    transition: all 0.3s ease-in-out;
    padding: 1.4rem 2.4rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 2rem;
    background-color: var(--color-purple);
    color: var(--color-white);
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(var(--color-black-a), 0.2);
    transition: all 0.3s ease-in-out;
    background-color: var(--color-orange);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(var(--color-black-a), 0.2);
  }

  &--orange {
    font-size: 1.2rem;
    background-color: var(--color-primary);
    padding: 1rem 2.9rem;
    color: var(--color-white);
  }

  &__icon {
    fill: var(--color-white);
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

//* Show button only on mobile
.only-on-mobile {
  display: none;
}
